/* *********** Banner CSS ********** */
/* Custom bg pattern for Particular Service Page */

.hero-section {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,
            #262261,
            #00A14B) no-repeat;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    background-position: 50%;
    height: 65vh;
    margin-bottom: -200px;
    background-position: 50%;
}

.hero-section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg,
            rgba(255, 255, 255, 0.1) 1px,
            transparent 1px),
        linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 20px 20px;
    background-attachment: fixed;
}

/* ********** Home icon for Particular Service Page ********** */
.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: 0.3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: RGB(29, 185, 84);
}

.sign {
    width: 100%;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 18px;
}

.sign svg path {
    fill: black;
}

/* ********* Text ********* */
.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: 0.3s;
}

/* ********* Hover Effect On Button Width ********* */
.Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: 0.3s;
}

.Btn:hover .sign {
    width: 30%;
    transition-duration: 0.3s;
    padding-left: 20px;
}

/* *********** Hover effect button's text *********** */
.Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: 0.3s;
    padding-right: 10px;
}

/* *********** Button click effect *********** */
.Btn:active {
    transform: translate(2px, 2px);
}

.sign svg path {
    fill: white
}

/* ********** Next and Previous Buttons ********** */
.btn {
    --color: #00A14B;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    border: none;
    background-color: transparent;
}

.btn div {
    letter-spacing: 2px;
    font-weight: bold;
    background: var(--color);
    border-radius: 2rem;
    color: black;
    padding: 1rem;
}

.btn::before {
    content: '';
    z-index: -1;
    background-color: var(--color);
    border: 2px solid black;
    border-radius: 2rem;
    width: 110%;
    height: 100%;
    position: absolute;
    transform: rotate(10deg);
    transition: .5s;
    opacity: 0.2;
}

.btn:hover {
    cursor: pointer;
    filter: brightness(1.2);
    transform: scale(1.1);
}

.btn:hover::before {
    transform: rotate(0deg);
    opacity: 1;
}

.btn:active {
    filter: brightness(1.4);
}


/****************** Media Queries **************/
@media (min-width: 320px) {
    .hero-section {
        height: 80vh;
    }
}

@media(min-width: 768px) {
    .hero-section {
        height: 75vh;
    }
}

@media (min-width: 1024px) {
    .hero-section {
        height: 65vh;
    }
}

@media (min-width: 1440px) {
    .hero-section {
        height: 75vh;
    }
}

@media (min-width: 1442px) {
    .hero-section {
        height: 65vh;
    }
}