.carousel .thumb img {
    width: 100% !important;
    height: 100% !important;
}

.carousel .slide img {
    max-height: 830px;
    width: auto;
    position: relative;
}

/* ********** Black overlay over the images ********** */
.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}


/* ****************** Media Queries ************************ */

@media (min-width: 320px) {
    .carousel .slide img {
        height: 70vh;
        width: 100%;
        position: relative;
        object-fit: cover;
    }
}

@media (min-width: 768px) {
    .carousel .slide img {
        height: 80vh;
        width: 100%;
        position: relative;
        object-fit: cover;
    }
}

@media (min-width: 1024px) {
    .carousel .slide img {
        height: 100vh;
        width: 100%;
        position: relative;
        object-fit: cover;
    }
}