/* ********* Navbar button content ********* */

.list-item {
    outline: 0 !important;
    border: 0 !important;
    color: #262261 !important;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    font-size: 16px !important;
}

.list-item:hover {
    transform: translateY(-3px) !important;
    color: #00A14B !important;
    font-weight: 600 !important;
}

/* ********* Dropdown CSS Classes *********** */

.button {
    color: #262261;
    /* padding: 10px 0px; */
    cursor: pointer;
}

.dropdown-content {
    display: none;
    font-size: 14px;
    position: absolute;
    padding: 12px;
    z-index: 30;
    min-width: 250px;
    background-color: #fff;
    /* border: 2px solid #DADADA; */
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: #262261;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    transition: 0.1s;
    font-weight: bold;
}

.dropdown-content a:hover {
    background-color: #4CAF50;
    color: #fff;
    font-weight: bold;
}

.paste-button:hover .dropdown-content {
    display: block;
}

.contact {
    background-color: #00A14B !important;
}