#root {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  padding: opx;
}

/* Background Colors */
.bg-navy {
  background-color: #262261;
}

.bg-green {
  background-color: #00A14B !important;
}

.bg-grey {
  background-color: #dadadab0;
}

/* ******** Font Colors ******** */
.color-white {
  color: #fff;
}

.color-navy {
  color: #262261;
}

.color-green {
  color: #00A14B;
}

/* *********** KeyFrames *********** */

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}